<template name="Setup">
  {{>menu}}
  <br>
  <div class="row_title">
    <h3>Setup</h3>
    <div class="row">

      <div class="col-md-4">
        <h4 class="teal">Invite your Team</h4>
        <input type="text" name="name_member" placeholder="Name" class="input_material auth">
        <input type="email" name="team_email" placeholder="Email" class="input_material auth">
        <button class="btn btn-white signup large" style="width: 47%; font-size: 13px" name="add_member_team"><i class="fa fa-plus" aria-hidden="true"></i> Add Member</button>
      </div>
      <div class="col-md-4">
        <h4 class="teal">Add your Signature</h4>

        <label class="btn btn-white signup large  btn-file" style="margin-top: 30px; width: 60%; margin-left: 0; padding-top: 14px; font-size: 13px">
          Upload Signature <input type="file" style="display: none;">
        </label>

        <h4 class="teal" style="margin-top: 30px;">- or -</h4>

        <button class="btn btn-white signup large" style="font-size: 13px; width: 60%; margin-top: 35px" name="draw">Draw Signature</button>
        <hr>
        <button class="btn btn-white signup large" style="width: 60%; font-size: 13px" name="add_conflict_email"> Email</button>

      </div>
      <div class="col-md-4">
        <h4 class="teal" style="text-align: center">Upload your Photo</h4>
        <img src="/images/photo.png" alt="photo" class="photo" style="margin-top: 30px; margin-bottom: 55px">

        <label class="btn btn-white signup large  btn-file" style="width: 60%; margin: 0 auto; padding-top: 14px; font-size: 13px">
          Upload <input type="file" style="display: none;">
        </label>
        <hr>
        <button class="btn btn-white signup large" style="font-size: 13px; width: 60%; margin: 20px auto;" name="draw">Save</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4 class="teal">Conflicts Check</h4>
        <input type="email" name="conflict_email_alias" placeholder="Conflict Email Alias" class="input_material auth">
        <button class="btn btn-white signup large" style="width: 47%; font-size: 13px" name="add_conflict_email"><i class="fa fa-plus" aria-hidden="true"></i> Add Alias</button>
      </div>
    </div>
    <br>
  </div>
</template>
