<template name="View_Letter">
  <div class="container">
    <br>
    <div class="row">

      <div class="col-md-4">
        <h4 class="teal">Letter 1 by Lawyer 1</h4>
        <div class="box__steel">
          <ul class="list-group">

            <li class="list-group-item clearfix">
              <span class="pull-left">Created by: </span>
              <span class="pull-right">Lawyer 1</span>
            </li>


            <li class="list-group-item clearfix">
              <span class="pull-left">Created at: </span>
              <span class="pull-right">3:45 pm March 18, 2017</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Status: </span>
              <span class="pull-right">Draft</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Client: </span>
              <span class="pull-right">Daniel Delgadillo</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Amount to Pay: </span>
              <span class="pull-right">$ 4,900.00</span>
            </li>

          </ul>
          <a href="#" class="btn btn-white signup" name="next">Send</a>
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="teal">Preview</h4>
        <iframe src="/copia.pdf" class="preview"></iframe>
      </div>
    </div>
  </div>
</template>
