body, html {
  padding: 0;
  margin: 0;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown__acount {
  border-radius: 0px;
}

select {
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

.review {
  width: 90%;
  height: 90vh;
  margin: 20px auto;
  text-align: center;
}

.col1 {
  display: inline-block;
  width: 35%;
  padding: 5px;
  height: 75px;
}

.box__teal {
  width: 100%;
  min-height: 220px;
  background-color: var(--teal-dark)
}

.box__teal h3 {
  margin: 0 auto 25px;
  padding-top: 35px;
  width: 80%;
  text-align: center;
  color: white;
}

.btn-white {
  background-color: white;
  color: var(--teal);
  border-radius: 0px;
  padding: 10px;
  font-size: 1.2em;
  width: 120px;
  transition: 0.3s background-color;
}

.btn-white:hover, .btn-white:focus {
  background-color: var(--teal);
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
  min-height: 200px;
  padding: 10px;
}

.letter {
  width: 225px;
  display: inline-block;
  height: 250px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.row_title {
  width: 90%;
  margin: 0px auto;
  padding: 0 20px;
}

.row_title h3 {
  display: inline-block;
  margin-right: 20px;
  color: var(--teal)
}



.nav_material {
  display: inline-block;
  margin-left: 0px;
  padding-left: 15px;
}

.nav_material > li {
  display: inline-block;
  padding: 1em 8px;
  cursor: pointer;
}

.nav_material > li:hover {
  background: var(--teal);
  color: white;
}

.drop {
  width: 157px;
  background-color: white;
  color: var(--teal);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  position: relative;
}
.drop > ul {
  position: absolute;
  padding-left: 0px;
  background-color: white;
  z-index: 1001;
  left: 0;
  top: 3.2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.drop > ul > li {
  display: block;
  width: 100%;
}
.drop > ul > li > a {
  text-decoration: none;
  color: var(--teal);
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.drop > ul > li > a:hover {
  background: #ebebeb;
}
.drop:hover > ul {
  width: 157px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.input_material {
  display: inline-block;
  border: none;
  margin-left: 10px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  width: 40%;
  padding: 10px;
  height: 48px;
  color: var(--teal)
}

@media (max-width: 770px) {
  .row_title h3 {
    display: block;
    width: 40%;
    text-align: center;
    margin: 20px auto;
  }

  .nav_material {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  .drop {
    width: 85%;
    display: block;
    margin: 0 auto;
  }

  .drop:hover > ul {
    width: 100%;
  }

  .input_material {
    width: 85%;
    display: block;
    margin: 0 auto;
  }

  .container-flex {
      justify-content: center;
  }

  .letter {
    width: 80%;
  }

}

.container-auth {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.col-6 {
  width: 45%;
  padding: 20px 35px;
}

.col-6 h3 {
  color: var(--teal);
  margin-bottom: 50px
}

.teal {
  color: var(--teal)
}

.steel {
  color: var(--steel)
}

.col-6 p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0px;
}


.col-4 {
  width: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/login-register.jpg');
}

.signup {
  display: block;
  margin-top: 15px;
  background-color: var(--teal);
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s background-color;
}

.signup:hover {
  background-color: var(--teal-dark)
}

.auth {
  margin-left: 0px;
  width: 70%;
  margin-top: 20px;
}

.splash {
  width: 100%;
  height: 100vh;
  position: relative;
  right: 0px;
  background: rgba(2, 132, 130, 1);
  background: -webkit-linear-gradient(to left, rgba(2, 132, 130, 0.4) , rgba(2, 132, 130, 0.8));
  background: linear-gradient(to left, rgba(2, 132, 130, 0.4) , rgba(2, 132, 130, 0.8));

}

select {
  border-radius: 0px !important;
}

select.input_material {
  width: 50%;
  margin-bottom: 20px;
}

ul.list-group li {
  color: var(--teal)
}

.box__steel {
  width: 100%;
  min-height: 250px;
  background-color: #ddd;
  padding: 15px;
}

.box__steel h4 {
  margin: 0;
  color: var(--teal)
}

.large {
  width: 35%;
  height: 50px;
  margin-top: 20px;
}

.area {
  width: 95%;
  height: 250px;
  margin-left: 0px;
}

.letter p {
  width: 80%;

  text-align: center;
  position: relative;
  top: 30%;
  color: var(--teal)

}

.top {
  margin: 30px auto;
}

.letter p a {
  color: var(--teal)
}

.letter p:hover {
  cursor: pointer;
}

.letter  a.button {
  display: inline-block;
  margin: 10px;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s background-color;
}

.letter  a.button:hover {
  background-color: var(--teal);
  color: white;
}

.photo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  border-radius: 50%;
}


.preview {
  width: 100%;
  height: 70vh;
}

.text {
  display: block;
  margin-top: 20px;
}

.image_screen {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url('/images/login-register.jpg');
}

.logo {
  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 20%;
  text-align: center;
}

.centrar {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  position: relative;
  bottom: 10%;
  top: 35%;
}

.centrar p {
  margin-bottom: 20px;
}

.centrar .input_material {
  margin: 5px auto;
}

.centrar a.signup {
    margin: 15px auto;
    width: 70%
}

.welcome_text {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.all_page_teal {
  width: 100%;
  height: 100vh;
  background: var(--teal)
}

.profile_line {
  width: 80%;
  padding: 30px;
}

.profile_line img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 70%;
}

.profile_line span {
  color: white;
  display: inline-block;
  margin-left: 10px;
  font-size: 21px;
  position: relative;
  top: 2.5px
}

.menu_inline {
  display: block;
  margin: 10px auto;
  width: 90%;
  text-align: center;
  padding: 0;
}

.menu_inline li {
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
  color: white;
  display: inline-block;
  width: 25%;
  margin: 0px 10px auto;
}

.content {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    color: white;

}

.content h3 {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content h3.teal {
  margin: 5px
}

.content input, .content select {
  margin: 10px auto;
  width: 90%;
}

.activo {
  border-bottom: 2px solid white;
}

#toggles{
width:60px;

margin-left:130px;
text-align:center;
}
.ios-toggle,.ios-toggle:active{
position:absolute;
top:-5000px;
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:12px;
line-height:16px;
width:100%;
height:36px;
/*border-radius*/
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#f8f8f8;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
/*border-radius*/
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
/*box-shadow*/
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-300px;
padding:10px;
height:100%;
width:300px;
text-align:right;
color:#bfbfbf;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
/*box-shadow*/
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:60px;
width:36px;
}
/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
#checkbox1:checked + .checkbox-label:after{
color:rgba(19,191,17,1);
}
/* RED CHECKBOX */

#checkbox2 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
}
#checkbox2:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
   -moz-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
        box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
}
#checkbox2:checked + .checkbox-label:after{
color:#f35f42;
}
/* BLUE CHECKBOX */

#checkbox3 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
   -moz-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
        box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
}
#checkbox3:checked + .checkbox-label:after{
color:#1fc1c8;
}

*,*:before,*:after {
  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
  outline:none;
}
