<template name="Draw_Signature">
  <div class="all_page_teal" style="background-color: white; border-top: 8px solid teal">
    <div class="profile_line" style="width: 90%">
      <span style="margin-left: 0px; color: teal"> <a class="teal" href="/mobile/new_letter/6"><i class="fa fa-arrow-left"></i></a> Draw Signature</span>
    </div>
    
    <a href="/mobile/new_letter/5"  style="font-size: 13px; width: 80%; margin: 30px auto; padding-top: 15px; position: fixed; bottom: 10px; left: 10%" class="btn btn-white signup" name="next">Save</a>

  </div>
</template>
