<template name="Mobile_List_Letters">
  <a href="/mobile/new_letter" class="btn btn-white signup large new" style="font-size: 13px; width: 75%; margin: 30px auto; padding-top: 15px;" name="draw"><i class="fa fa-plus" aria-hidden="true"></i> New Letter</a>

  <div class="container-flex" style="overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 80%;
    height: 400px;
    white-space: nowrap;
display: block">

    {{#each letters}}
    <div class="letter" style="background-color: white; height: 350px; width: 100%; margin: 15px auto;">
      <p style="position: relative;
    top: 18px;
    left: 222px;
    z-index: 1001;
    width: 15px;
    height: 15px;
    display: inline-block;"><i style="font-size: 18px" id="remove_letter" class="fa fa-trash" aria-hidden="true"></i></p>
      <p>{{client}}</p>
      <br>
      <p>
        <a href="/mobile/view_letter/{{this._id}}" class="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="/mobile/edit/{{this._id}}" class="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </p>
    </div>
    {{/each}}
  </div>
</template>
