<template name="Mobile_Signup">
  <div class="image_screen">
    <div class="splash">
      <h2 class="logo white">Logo</h2>
      <div class="centrar">
        <p style="width: 80%; text-align: center; margin: 40px auto;" class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <input type="email" name="email" placeholder="Email" class="input_material auth">
        <a href="/mobile/signup/2" class="btn btn-white signup" name="signup">Next</a>
        <br>
        <span class="text white">Do you have an account? <a href="/mobile/login" class="white">Login</a></span>
      </div>
    </div>
  </div>
</template>

<template name="Mobile_Signup_2">
  <div class="image_screen">
    <div class="splash">
      <h2 class="logo white" style="top: 5%">Logo</h2>
      <div class="centrar" style="top: 5%">
        <p style="width: 80%; text-align: center; margin: 40px auto;" class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <input type="text" name="firm_name" placeholder="Firm Name" class="input_material auth">
        <input type="text" name="first_name" placeholder="First Name" class="input_material auth">
        <input type="text" name="last_name" placeholder="Last Name" class="input_material auth">
        <input type="number" name="phone_number" placeholder="Phone Number" class="input_material auth">
        <input type=password name="password" placeholder="Password" class="input_material auth">

        <a href="/mobile" class="btn btn-white signup" name="signup">Next</a>
        <br>
        <span class="text white">Do you have an account? <a href="/mobile/login" class="white">Login</a></span>
      </div>
    </div>
  </div>
</template>

<template name="Mobile_Login">
  <div class="image_screen">
    <div class="splash">
      <h2 class="logo white">Logo</h2>
      <div class="centrar" style="top: 25%">
        <p style="width: 80%; text-align: center; margin: 40px auto;" class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <input type="email" name="email" placeholder="Email" class="input_material auth">
        <input type="password" name="email" placeholder="Password" class="input_material auth">
        <a href="/mobile" class="btn btn-white signup" name="login">Login</a>
        <br>
        <span class="text white">Doesn't has an account? <a href="/mobile/signup" class="white">Signup</a></span>
      </div>
    </div>
  </div>
</template>
