<template name="Mobile_Draw">
	<div class="container__draw">
		<h2 style="color: teal; margin-left: 10px;"><a href="/mobile"><i style="display: inline-block; color: teal; margin-right: 10px;" class="fa fa-chevron-left" aria-hidden="true"></i></a>Draw Signature</h2>
		<br>
		<canvas id="sig-canvas"  width="300" height="320">
			Loading...
		</canvas>
		<br>
		<button class="btn btn-white signup large new" style="font-size: 18px; width: 85%; margin: 30px auto; " name="save">Save</button>
	</div>

</template>