<template name="Mobile_New_Template">
	<div class="container__draw">
		<h2 style="color: teal; margin-left: 10px;"><a href="/mobile/new_letter/write_letter"><i style="display: inline-block; color: teal; margin-right: 10px;" class="fa fa-chevron-left" aria-hidden="true"></i></a>Create Template</h2>
		<br>
		<br>
		<input style="width: 90%;" type="text" class="input_material" placeholder="Template Name" name="template_name">
		<br>
		<textarea name="engagement" class="input_material area" rows="8" cols="80" style="width: 90%; margin: 0 auto;" placeholder="Describe the Engagement Template"></textarea>
		<br>
		<button class="btn btn-white signup large new" style="font-size: 18px; width: 85%; margin: 30px auto; " name="save">Save</button>
	</div>
</template>