<template name="Mobile_List_Letters">
  <a href="/mobile/new_letter" class="btn btn-white signup large new" style="font-size: 13px; width: 75%; margin: 30px auto; padding-top: 15px;" name="draw"><i class="fa fa-plus" aria-hidden="true"></i> New Letter</a>

  <div class="container-flex" style="overflow-x: scroll;
    overflow-y: hidden;
    width: 80%;
    height: 400px;
    white-space: nowrap;
display: block">

    <div class="letter" style="background-color: white; height: 350px; width: 100%; margin: 15px auto;">
      <p>Client 1 - Letter 1</p>
      <br>
      <p>
        <a href="/mobile/view_letter" class="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="#" class="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="letter" style="background-color: white; height: 350px; width: 100%; margin: 15px auto;">
      <p>Client 2 - Letter 2</p>
      <br>
      <p>
        <a href="/mobile/view_letter" class="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="#" class="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="letter" style="background-color: white; height: 350px; width: 100%; margin: 15px auto;">
      <p>Client 1 - Letter 2</p>
      <br>
      <p>
        <a href="/mobile/view_letter" class="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="#" class="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</template>
