<template name="Mobile_Home">
  <div class="content">
    <h3>Welcome to the Engagement Letter App! Let’s get you started by setting up the web app!</h3>
    <a href="/mobile/setup" class="btn btn-white">Setup</a>

    <h4 style="text-align: left;">Resume</h4>
    <ul class="list-group">

      <li class="list-group-item clearfix">
        <h3 class="teal">3</h3> <span>Letters Completing</span>
      </li>
      <li class="list-group-item clearfix">
        <h3 class="teal">4</h3>
        <span>Letters Pending Client Signatures</span>
      </li>
      <li class="list-group-item clearfix">
        <h3 class="teal">4</h3>
        <span>Letters Pending Payments</span>
      </li>

    </ul>
    <a href="/mobile/new_letter" class="btn btn-white signup large new" style="font-size: 13px; width: 100%; margin: 30px auto; padding-top: 15px;" name="draw"><i class="fa fa-plus" aria-hidden="true"></i> New Letter</a>

  </div>

</template>
