<template name="Conflicts">
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4 class="teal"><a href="/new_letter/step_2" class="teal"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Step 4 - Conflicts</h4>

      <h3 class="teal">Parties </h3>
      <input type="text" name="partyname" placeholder="Name" class="input_material auth">
      <button class="btn btn-white signup large" type="button" name="add_party">Add</button>
      <br>
      <div class="col-md-8" style="padding: 0">
        <ul class="list-group">
          {{#each parties}}
          <li class="list-group-item clearfix">
            <span class="pull-left">{{this.name}}</span>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-6">

      <br><br>
      <h3 class="teal" style="margin-top: 8px">Opposing Parties</h3>
      <input type="text" name="opposingpartyname" placeholder="Name" class="input_material auth">
      <button class="btn btn-white signup large" type="button" name="add_opossing_party">Add</button>
      <br>
      <div class="col-md-8" style="padding: 0">
        <ul class="list-group">
          {{#each opossingParties}}
          <li class="list-group-item clearfix">
            <span class="pull-left">{{this.name}}</span>
          </li>
          {{/each}}
        </ul>
        <br>
        <button class="btn btn-white signup" style="width: 40%" name="next">Next</button>
        <br>
      </div>

    </div>
  </div>
</template>
