<template name="NewTemplate">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title teal">Create Template</h4>
                </div>

                <div class="modal-body">
                  <input type="text" class="input_material"  name="template_name" placeholder="Template Name">
                  <br><br>
                  <textarea name="engagement" class="input_material area" style="margin: 10px auto; display: block" rows="8" cols="80" placeholder="Describe The Template Content"></textarea>
                  <input type="button" style="width: 145px" value="Add Template" name="add_template" class="btn btn-white signup">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>

<template name="NewExclusionTemplate">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title teal">Create Exclusion Template</h4>
                </div>

                <div class="modal-body">
                  <input type="text" class="input_material"  name="template_name" placeholder="Template Name">
                  <br><br>
                  <textarea name="engagement" class="input_material area" style="margin: 10px auto; display: block" rows="8" cols="80" placeholder="Describe The Template Content"></textarea>
                  <input type="button" style="width: 145px" value="Add Template" name="add_template" class="btn btn-white signup">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>
