<template name="Review_Letter">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="box__teal" style="min-height: 100px">
          <h3>Welcome to the Engagement Letter App!</h3>
          <p class="white">Review Document</p>
          <br>
      </div>
    </div>
  </div>

 <div class="container">
   <div class="row">
     <div class="review">
       <h4 class="teal">Preview</h4>
       <iframe src="/copia.pdf" class="preview"></iframe>
       <br>
       <a href="/client/payment_letter" class="btn btn-white signup" style="width: 25%; float: right" name="next">Next</a>
     </div>
   </div>
 </div>
</template>
