<template name="Sign_Letter">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="box__teal" style="min-height: 50px; padding: 30px">

          <p class="white" style="margin-bottom: 0">Sign Letter</p>

      </div>
    </div>
  </div>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-6">
        <br><br>
        <label class="btn btn-white signup large  btn-file" style="margin-left: 0; padding-top: 14px; font-size: 13px">
          Upload Signature <input type="file" style="display: none;">
        </label>
        <br>
        <h4 class="teal">- or -</h4>

        <button class="btn btn-white signup large" style="font-size: 13px" name="draw">Draw Signature</button>

      </div>

      <div class="col-md-6">
        <h4 class="teal">Preview of Signature</h4>
        <div style="width: 80%; border: 1px solid teal; height: 200px">

        </div>

        <a href="/auth" class="btn btn-white signup" style="width: 40%" name="next">Sign</a>
      </div>
    </div>
  </div>
</template>
